VITE_SUPABASE_URL="https://toitgmaeuscrdwbpntda.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvaXRnbWFldXNjcmR3YnBudGRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMjMzOTksImV4cCI6MjA4Njc5OTM5OX0.HmWokm-8GjME-2tBoE9JXyvaIoJwiOJlsdiDkp6Qa6M"
VITE_ENABLE_DEV_SWITCHER="false"
VITE_REQUIRE_SUPABASE_ENV="false"
VITE_ALLOW_SUPABASE_FALLBACK="false"
VITE_ENABLE_OPERATIONAL_REMINDERS="true"
VITE_ENABLE_OPERATIONAL_ALERTS="false"
